{
  "openapi": "3.1.0",
  "info": {
    "title": "ScrapeBadger Google API",
    "version": "1.0.0",
    "description": "Google scraping API: Search, AI mode/overview, Maps, Shopping, News, Jobs, Flights, Hotels, Finance, Trends, Scholar, Patents, Images, Videos, Lens, and autocomplete."
  },
  "servers": [
    {
      "url": "https://scrapebadger.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/google/ai-mode/search": {
      "get": {
        "operationId": "ai_mode_search_v1_google_ai_mode_search_get",
        "summary": "Google AI Mode search",
        "description": "Get AI-generated search results from Google AI Mode.\n\nReturns the structured `text_blocks` (paragraphs, headings, comparison\n`table` blocks and lists), a flat `references` source list, a compact\n`markdown` rendering of the whole answer and \u2014 unless `include_html`\nis false \u2014 the raw `answer_html` body.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query for AI-generated response",
              "title": "Q"
            },
            "description": "Search query for AI-generated response"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "include_html",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw `answer_html` (full answer body HTML) in the response for maximum parity. It can be 100s of KB \u2014 set false when you only need the structured `text_blocks` + `markdown`.",
              "default": true,
              "title": "Include Html"
            },
            "description": "Include the raw `answer_html` (full answer body HTML) in the response for maximum parity. It can be 100s of KB \u2014 set false when you only need the structured `text_blocks` + `markdown`."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Ai Mode Search V1 Google Ai Mode Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/ai-overview": {
      "get": {
        "operationId": "ai_overview_v1_google_ai_overview_get",
        "summary": "Google AI Overview (inline SERP block)",
        "description": "Get the AI Overview block Google renders inline at the top of a SERP.\n\nDeferred overviews (where Google lazy-loads the block via a follow-up\n``page_token``) are chased automatically.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query \u2014 same shape as a Google Search query",
              "title": "Q"
            },
            "description": "Search query \u2014 same shape as a Google Search query"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Ai Overview V1 Google Ai Overview Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/autocomplete": {
      "get": {
        "operationId": "autocomplete_v1_google_autocomplete_get",
        "summary": "Google search suggestions",
        "description": "Get Google search autocomplete suggestions.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query to get suggestions for",
              "title": "Q"
            },
            "description": "Search query to get suggestions for"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Autocomplete V1 Google Autocomplete Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/finance/quote": {
      "get": {
        "operationId": "finance_quote_v1_google_finance_quote_get",
        "summary": "Get stock/index quote",
        "description": "Get a stock or index quote from Google Finance.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Ticker and exchange (e.g. \"AAPL:NASDAQ\", \"BTC-USD\")",
              "title": "Q"
            },
            "description": "Ticker and exchange (e.g. \"AAPL:NASDAQ\", \"BTC-USD\")"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Finance Quote V1 Google Finance Quote Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/flights/search": {
      "get": {
        "operationId": "flights_search_v1_google_flights_search_get",
        "summary": "Google Flights search",
        "description": "Search Google Flights for available itineraries.",
        "parameters": [
          {
            "name": "departure_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Departure airport IATA code or location ID",
              "title": "Departure Id"
            },
            "description": "Departure airport IATA code or location ID"
          },
          {
            "name": "arrival_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Arrival airport IATA code or location ID",
              "title": "Arrival Id"
            },
            "description": "Arrival airport IATA code or location ID"
          },
          {
            "name": "outbound_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Outbound date (YYYY-MM-DD)",
              "title": "Outbound Date"
            },
            "description": "Outbound date (YYYY-MM-DD)"
          },
          {
            "name": "return_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return date (round-trip only)",
              "title": "Return Date"
            },
            "description": "Return date (round-trip only)"
          },
          {
            "name": "trip_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "round_trip | one_way | multi_city",
              "default": "round_trip",
              "title": "Trip Type"
            },
            "description": "round_trip | one_way | multi_city"
          },
          {
            "name": "adults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 9,
              "minimum": 1,
              "default": 1,
              "title": "Adults"
            }
          },
          {
            "name": "children",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 8,
              "minimum": 0,
              "default": 0,
              "title": "Children"
            }
          },
          {
            "name": "infants_in_seat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 4,
              "minimum": 0,
              "default": 0,
              "title": "Infants In Seat"
            }
          },
          {
            "name": "infants_on_lap",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 4,
              "minimum": 0,
              "default": 0,
              "title": "Infants On Lap"
            }
          },
          {
            "name": "travel_class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "economy",
              "title": "Travel Class"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO-4217 currency",
              "default": "USD",
              "title": "Currency"
            },
            "description": "ISO-4217 currency"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "stops",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "any",
              "title": "Stops"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Price"
            }
          },
          {
            "name": "departure_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A round-trip offer's departure_token; returns the return-leg flights for that selected outbound (round-trip only).",
              "title": "Departure Token"
            },
            "description": "A round-trip offer's departure_token; returns the return-leg flights for that selected outbound (round-trip only)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Flights Search V1 Google Flights Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/hotels/details": {
      "get": {
        "operationId": "hotel_details_v1_google_hotels_details_get",
        "summary": "Hotel details",
        "parameters": [
          {
            "name": "property_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Property token",
              "title": "Property Token"
            },
            "description": "Property token"
          },
          {
            "name": "check_in",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD",
              "title": "Check In"
            },
            "description": "YYYY-MM-DD"
          },
          {
            "name": "check_out",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD",
              "title": "Check Out"
            },
            "description": "YYYY-MM-DD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Hotel Details V1 Google Hotels Details Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/hotels/search": {
      "get": {
        "operationId": "hotels_search_v1_google_hotels_search_get",
        "summary": "Search hotels",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Location or hotel name",
              "title": "Q"
            },
            "description": "Location or hotel name"
          },
          {
            "name": "check_in",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD",
              "title": "Check In"
            },
            "description": "YYYY-MM-DD"
          },
          {
            "name": "check_out",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD",
              "title": "Check Out"
            },
            "description": "YYYY-MM-DD"
          },
          {
            "name": "adults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2,
              "title": "Adults"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD",
              "title": "Currency"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Hotels Search V1 Google Hotels Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/images/search": {
      "get": {
        "operationId": "images_search_v1_google_images_search_get",
        "summary": "Search Google Images",
        "description": "Search Google Images for visual content.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Image search query",
              "title": "Q"
            },
            "description": "Image search query"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "tbs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Time/filter string (e.g. qdr:d)",
              "title": "Tbs"
            },
            "description": "Time/filter string (e.g. qdr:d)"
          },
          {
            "name": "imgsz",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Image size: l, m, i, xXl",
              "title": "Imgsz"
            },
            "description": "Image size: l, m, i, xXl"
          },
          {
            "name": "imgcolor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Image color filter",
              "title": "Imgcolor"
            },
            "description": "Image color filter"
          },
          {
            "name": "imgtype",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Image type: face, photo, clipart",
              "title": "Imgtype"
            },
            "description": "Image type: face, photo, clipart"
          },
          {
            "name": "safe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Safe search",
              "default": "off",
              "title": "Safe"
            },
            "description": "Safe search"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page number",
              "default": 0,
              "title": "Page"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Images Search V1 Google Images Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/jobs/search": {
      "get": {
        "operationId": "jobs_search_v1_google_jobs_search_get",
        "summary": "Search Google Jobs",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Job title, keywords",
              "title": "Q"
            },
            "description": "Job title, keywords"
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Location"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          },
          {
            "name": "job_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Job Type"
            }
          },
          {
            "name": "date_posted",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Date Posted"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Jobs Search V1 Google Jobs Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/lens/search": {
      "get": {
        "operationId": "lens_search_v1_google_lens_search_get",
        "summary": "Google Lens visual search",
        "description": "Google Lens visual search.\n\nResponse carries ``lens_results`` (Scrapingdog parity alias) with\n``title`` / ``source`` / ``source_favicon`` / ``thumbnail`` / ``tag``\n(price chip) / ``in_stock``, plus ``related_searches`` chips.\nLegacy ``results`` alias kept for backwards compat.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public URL of the image to search visually",
              "title": "Url"
            },
            "description": "Public URL of the image to search visually"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional text refinement (e.g. 'pizza')",
              "title": "Query"
            },
            "description": "Optional text refinement (e.g. 'pizza')"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO country code (alias for gl)",
              "title": "Country"
            },
            "description": "ISO country code (alias for gl)"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Language code (alias for hl)",
              "title": "Language"
            },
            "description": "Language code (alias for hl)"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Bias towards shoppable product matches",
              "default": false,
              "title": "Product"
            },
            "description": "Bias towards shoppable product matches"
          },
          {
            "name": "visual_matches",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the visual-matches carousel",
              "default": true,
              "title": "Visual Matches"
            },
            "description": "Include the visual-matches carousel"
          },
          {
            "name": "exact_matches",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Restrict to exact-match results",
              "default": false,
              "title": "Exact Matches"
            },
            "description": "Restrict to exact-match results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Lens Search V1 Google Lens Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/photos": {
      "get": {
        "operationId": "maps_photos_v1_google_maps_photos_get",
        "summary": "Get place photos",
        "parameters": [
          {
            "name": "data_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Maps data ID",
              "title": "Data Id"
            },
            "description": "Maps data ID"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Next Page Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Photos V1 Google Maps Photos Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/place": {
      "get": {
        "operationId": "maps_place_v1_google_maps_place_get",
        "summary": "Get place details",
        "parameters": [
          {
            "name": "place_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Place Id"
            }
          },
          {
            "name": "data_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Data Id"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Place V1 Google Maps Place Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/posts": {
      "get": {
        "operationId": "maps_posts_v1_google_maps_posts_get",
        "summary": "Get business posts",
        "parameters": [
          {
            "name": "data_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Maps data ID",
              "title": "Data Id"
            },
            "description": "Maps data ID"
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Next Page Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Posts V1 Google Maps Posts Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/reviews": {
      "get": {
        "operationId": "maps_reviews_v1_google_maps_reviews_get",
        "summary": "Get place reviews",
        "parameters": [
          {
            "name": "data_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Maps data ID",
              "title": "Data Id"
            },
            "description": "Maps data ID"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "qualityScore",
              "title": "Sort By"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Next Page Token"
            }
          },
          {
            "name": "results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "default": 10,
              "title": "Results"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Reviews V1 Google Maps Reviews Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/maps/search": {
      "get": {
        "operationId": "maps_search_v1_google_maps_search_get",
        "summary": "Search Google Maps places",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query",
              "title": "Q"
            },
            "description": "Search query"
          },
          {
            "name": "ll",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ll"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Start"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Maps Search V1 Google Maps Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/news/search": {
      "get": {
        "operationId": "news_search_v1_google_news_search_get",
        "summary": "Search Google News",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query",
              "title": "Q"
            },
            "description": "Search query"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "US",
              "title": "Gl"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Max Results"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response News Search V1 Google News Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/news/topics": {
      "get": {
        "operationId": "news_topics_v1_google_news_topics_get",
        "summary": "News by topic",
        "parameters": [
          {
            "name": "topic",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Topic name",
              "title": "Topic"
            },
            "description": "Topic name"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "US",
              "title": "Gl"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Max Results"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response News Topics V1 Google News Topics Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/news/trending": {
      "get": {
        "operationId": "news_trending_v1_google_news_trending_get",
        "summary": "Trending news",
        "parameters": [
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en",
              "title": "Hl"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "US",
              "title": "Gl"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Max Results"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response News Trending V1 Google News Trending Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/patents/detail": {
      "get": {
        "operationId": "patent_detail_v1_google_patents_detail_get",
        "summary": "Patent details",
        "parameters": [
          {
            "name": "patent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Patent number",
              "title": "Patent Id"
            },
            "description": "Patent number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Patent Detail V1 Google Patents Detail Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/patents/search": {
      "get": {
        "operationId": "patents_search_v1_google_patents_search_get",
        "summary": "Search patents",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query (Boolean logic supported)",
              "title": "Q"
            },
            "description": "Search query (Boolean logic supported)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Page"
            }
          },
          {
            "name": "num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Num"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "'new' or 'old'",
              "title": "Sort"
            },
            "description": "'new' or 'old'"
          },
          {
            "name": "inventor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Inventor name(s)",
              "title": "Inventor"
            },
            "description": "Inventor name(s)"
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Assignee / company name(s)",
              "title": "Assignee"
            },
            "description": "Assignee / company name(s)"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Country code (US, EP, WO, \u2026)",
              "title": "Country"
            },
            "description": "Country code (US, EP, WO, \u2026)"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Patent language: ENGLISH, GERMAN, CHINESE, FRENCH, JAPANESE, KOREAN, SPANISH",
              "title": "Language"
            },
            "description": "Patent language: ENGLISH, GERMAN, CHINESE, FRENCH, JAPANESE, KOREAN, SPANISH"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "GRANT or APPLICATION",
              "title": "Status"
            },
            "description": "GRANT or APPLICATION"
          },
          {
            "name": "patent_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "PATENT or DESIGN",
              "title": "Patent Type"
            },
            "description": "PATENT or DESIGN"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Before date YYYYMMDD",
              "title": "Before"
            },
            "description": "Before date YYYYMMDD"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "After date YYYYMMDD",
              "title": "After"
            },
            "description": "After date YYYYMMDD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Patents Search V1 Google Patents Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/products/detail": {
      "get": {
        "operationId": "products_detail_v1_google_products_detail_get",
        "summary": "Immersive product detail",
        "description": "Get deep product details from Google's immersive product page.",
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Google Shopping ``gpcid`` \u2014 the product_id returned on ``/shopping/search`` tiles. Scrapingdog-compatible.",
              "title": "Product Id"
            },
            "description": "Google Shopping ``gpcid`` \u2014 the product_id returned on ``/shopping/search`` tiles. Scrapingdog-compatible."
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Original search query that surfaced the product. Required by Google's ``/async/oapv`` RPC.",
              "title": "Q"
            },
            "description": "Original search query that surfaced the product. Required by Google's ``/async/oapv`` RPC."
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code (ISO 3166 alpha-2)",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code (ISO 3166 alpha-2)"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "catalog_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional ``catalogid`` from the Shopping tile (improves parity).",
              "title": "Catalog Id"
            },
            "description": "Optional ``catalogid`` from the Shopping tile (improves parity)."
          },
          {
            "name": "image_docid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional ``imageDocid`` for higher-fidelity images.",
              "title": "Image Docid"
            },
            "description": "Optional ``imageDocid`` for higher-fidelity images."
          },
          {
            "name": "headline_offer_docid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional ``headlineOfferDocid`` to pin the featured seller.",
              "title": "Headline Offer Docid"
            },
            "description": "Optional ``headlineOfferDocid`` to pin the featured seller."
          },
          {
            "name": "mid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional Google Knowledge-Graph ``mid``.",
              "title": "Mid"
            },
            "description": "Optional Google Knowledge-Graph ``mid``."
          },
          {
            "name": "include_offers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "When true, fetch the full merchant-offer list via a secondary RPC (``/async/piu_ps``). Adds ~1 s.",
              "default": false,
              "title": "Include Offers"
            },
            "description": "When true, fetch the full merchant-offer list via a secondary RPC (``/async/piu_ps``). Adds ~1 s."
          },
          {
            "name": "include_variants",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "When true, fetch size/colour variants via a secondary RPC (``/async/toy_v``). Adds ~1 s.",
              "default": false,
              "title": "Include Variants"
            },
            "description": "When true, fetch size/colour variants via a secondary RPC (``/async/toy_v``). Adds ~1 s."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Products Detail V1 Google Products Detail Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/scholar/author": {
      "get": {
        "operationId": "scholar_author_v1_google_scholar_author_get",
        "summary": "Get Scholar author profile",
        "description": "Get detailed Google Scholar author profile including articles, stats, co-authors.",
        "parameters": [
          {
            "name": "author_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Scholar user ID (the `user` query parameter)",
              "title": "Author Id"
            },
            "description": "Scholar user ID (the `user` query parameter)"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "cstart",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Articles pagination offset",
              "default": 0,
              "title": "Cstart"
            },
            "description": "Articles pagination offset"
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Articles per page",
              "default": 20,
              "title": "Pagesize"
            },
            "description": "Articles per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Scholar Author V1 Google Scholar Author Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/scholar/author/citation": {
      "get": {
        "operationId": "scholar_author_citation_v1_google_scholar_author_citation_get",
        "summary": "Get author citations-per-year chart",
        "description": "Return the citations-per-year chart for a Google Scholar author.",
        "parameters": [
          {
            "name": "author_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Scholar user ID",
              "title": "Author Id"
            },
            "description": "Scholar user ID"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Scholar Author Citation V1 Google Scholar Author Citation Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/scholar/cite": {
      "get": {
        "operationId": "scholar_cite_v1_google_scholar_cite_get",
        "summary": "Get citation formats for a Scholar paper",
        "description": "Return MLA, APA, Chicago, Harvard, and Vancouver citation formats for a paper.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Cluster ID from a search result",
              "title": "Q"
            },
            "description": "Cluster ID from a search result"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Scholar Cite V1 Google Scholar Cite Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/scholar/profiles": {
      "get": {
        "operationId": "scholar_profiles_v1_google_scholar_profiles_get",
        "summary": "Search Scholar author profiles",
        "description": "Search Google Scholar for author profiles by name.",
        "parameters": [
          {
            "name": "mauthors",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Author name query (e.g. 'Geoffrey Hinton')",
              "title": "Mauthors"
            },
            "description": "Author name query (e.g. 'Geoffrey Hinton')"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "after_author",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination token (next page)",
              "title": "After Author"
            },
            "description": "Pagination token (next page)"
          },
          {
            "name": "before_author",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination token (previous page)",
              "title": "Before Author"
            },
            "description": "Pagination token (previous page)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Scholar Profiles V1 Google Scholar Profiles Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/scholar/search": {
      "get": {
        "operationId": "scholar_search_v1_google_scholar_search_get",
        "summary": "Search Google Scholar",
        "description": "Search Google Scholar for scholarly articles.\n\nEach result ships with its doc ``id``, ``type`` badge\n([BOOK]/[PDF]/...), wrapped ``inline_links`` (versions + cited_by +\nrelated), PDF ``resources`` list, and structured ``authors`` (with\n``author_id`` for profiled authors \u2014 pipe straight into\n``/scholar/author``). Envelope carries ``scholar_results`` alias\n(Scrapingdog parity), ``related_searches``, and matched\n``profiles`` cards.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query for scholarly articles",
              "title": "Q"
            },
            "description": "Search query for scholarly articles"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "as_ylo",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Year from (e.g. 2020)",
              "title": "As Ylo"
            },
            "description": "Year from (e.g. 2020)"
          },
          {
            "name": "as_yhi",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Year to (e.g. 2024)",
              "title": "As Yhi"
            },
            "description": "Year to (e.g. 2024)"
          },
          {
            "name": "as_sdt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search type: 0=exclude patents, 7=include",
              "default": "0",
              "title": "As Sdt"
            },
            "description": "Search type: 0=exclude patents, 7=include"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page number (0-based)",
              "default": 0,
              "title": "Page"
            },
            "description": "Page number (0-based)"
          },
          {
            "name": "num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "description": "Results per page (max 20)",
              "default": 10,
              "title": "Num"
            },
            "description": "Results per page (max 20)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Scholar Search V1 Google Scholar Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/search": {
      "get": {
        "operationId": "google_search_v1_google_search_get",
        "summary": "Google web search",
        "description": "Search Google and get structured results (organic, ads, KG, AI overview, PAA).",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query (supports Google operators)",
              "title": "Q"
            },
            "description": "Search query (supports Google operators)"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Num"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset (0, 10, 20...)",
              "default": 0,
              "title": "Start"
            },
            "description": "Page offset (0, 10, 20...)"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google domain",
              "default": "google.com",
              "title": "Domain"
            },
            "description": "Google domain"
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "desktop",
                "mobile",
                "iphone",
                "android",
                "tablet"
              ],
              "type": "string",
              "description": "Device target: desktop, mobile, iphone, android, tablet",
              "default": "desktop",
              "title": "Device"
            },
            "description": "Device target: desktop, mobile, iphone, android, tablet"
          },
          {
            "name": "user_agent",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 512,
                  "pattern": "^[^\\r\\n]*$"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Custom User-Agent (overrides device)",
              "title": "User Agent"
            },
            "description": "Custom User-Agent (overrides device)"
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "json",
                "html"
              ],
              "type": "string",
              "description": "Response format: json (parsed) or html (raw SERP)",
              "default": "json",
              "title": "Output"
            },
            "description": "Response format: json (parsed) or html (raw SERP)"
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City-level geo-targeting",
              "title": "Location"
            },
            "description": "City-level geo-targeting"
          },
          {
            "name": "lr",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Language restrict (e.g. lang_en)",
              "title": "Lr"
            },
            "description": "Language restrict (e.g. lang_en)"
          },
          {
            "name": "tbs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Time filter (e.g. qdr:d)",
              "title": "Tbs"
            },
            "description": "Time filter (e.g. qdr:d)"
          },
          {
            "name": "safe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "off",
              "title": "Safe"
            }
          },
          {
            "name": "uule",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UULE encoded location",
              "title": "Uule"
            },
            "description": "UULE encoded location"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Show omitted results",
              "title": "Filter"
            },
            "description": "Show omitted results"
          },
          {
            "name": "nfpr",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Disable auto-correction",
              "default": 0,
              "title": "Nfpr"
            },
            "description": "Disable auto-correction"
          },
          {
            "name": "cr",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Country restrict",
              "title": "Cr"
            },
            "description": "Country restrict"
          },
          {
            "name": "ludocid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Google Place CID",
              "title": "Ludocid"
            },
            "description": "Google Place CID"
          },
          {
            "name": "lsig",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Knowledge Graph map ID",
              "title": "Lsig"
            },
            "description": "Knowledge Graph map ID"
          },
          {
            "name": "kgmid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Knowledge Graph entity ID",
              "title": "Kgmid"
            },
            "description": "Knowledge Graph entity ID"
          },
          {
            "name": "si",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cached search params",
              "title": "Si"
            },
            "description": "Cached search params"
          },
          {
            "name": "ibp",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Layout control",
              "title": "Ibp"
            },
            "description": "Layout control"
          },
          {
            "name": "uds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Google filter string",
              "title": "Uds"
            },
            "description": "Google filter string"
          },
          {
            "name": "ai_overview",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Chase deferred AI Overview page_token with a follow-up fetch and merge the result. Adds ~1s and 1 credit when the SERP defers the overview.",
              "default": false,
              "title": "Ai Overview"
            },
            "description": "Chase deferred AI Overview page_token with a follow-up fetch and merge the result. Adds ~1s and 1 credit when the SERP defers the overview."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Google Search V1 Google Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/shopping/search": {
      "get": {
        "operationId": "shopping_search_v1_google_shopping_search_get",
        "summary": "Search products",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Product search query",
              "title": "Q"
            },
            "description": "Product search query"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us",
              "title": "Gl"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Price"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Price"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sort By"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Shopping Search V1 Google Shopping Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/shorts/search": {
      "get": {
        "operationId": "shorts_search_v1_google_shorts_search_get",
        "summary": "Google Shorts search",
        "description": "Return short-form video results (YouTube Shorts, TikToks) from Google Shorts mode.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search query",
              "title": "Q"
            },
            "description": "Search query"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google domain",
              "default": "google.com",
              "title": "Domain"
            },
            "description": "Google domain"
          },
          {
            "name": "num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Results per page",
              "default": 20,
              "title": "Num"
            },
            "description": "Results per page"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Pagination offset",
              "default": 0,
              "title": "Start"
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Shorts Search V1 Google Shorts Search Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/trends/autocomplete": {
      "get": {
        "operationId": "trends_autocomplete_v1_google_trends_autocomplete_get",
        "summary": "Trends topic autocomplete",
        "description": "Return categorized Knowledge Graph topic entities (mid, type) for a query.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Query prefix to resolve into Trends topics",
              "title": "Q"
            },
            "description": "Query prefix to resolve into Trends topics"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en-US",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Timezone offset in minutes",
              "default": "0",
              "title": "Tz"
            },
            "description": "Timezone offset in minutes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Trends Autocomplete V1 Google Trends Autocomplete Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/trends/interest": {
      "get": {
        "operationId": "trends_interest_v1_google_trends_interest_get",
        "summary": "Interest over time",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search terms",
              "title": "Q"
            },
            "description": "Search terms"
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Geo"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today 12-m",
              "title": "Date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Trends Interest V1 Google Trends Interest Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/trends/regions": {
      "get": {
        "operationId": "trends_regions_v1_google_trends_regions_get",
        "summary": "Interest by region",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search term",
              "title": "Q"
            },
            "description": "Search term"
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Geo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Trends Regions V1 Google Trends Regions Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/trends/related": {
      "get": {
        "operationId": "trends_related_v1_google_trends_related_get",
        "summary": "Related topics & queries",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search term",
              "title": "Q"
            },
            "description": "Search term"
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Geo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Trends Related V1 Google Trends Related Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/trends/trending": {
      "get": {
        "operationId": "trends_trending_v1_google_trends_trending_get",
        "summary": "Trending searches",
        "parameters": [
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "US",
              "title": "Geo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Trends Trending V1 Google Trends Trending Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/videos/search": {
      "get": {
        "operationId": "videos_search_v1_google_videos_search_get",
        "summary": "Search Google Videos",
        "description": "Search Google for video results.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Video search query",
              "title": "Q"
            },
            "description": "Video search query"
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Country code",
              "default": "us",
              "title": "Gl"
            },
            "description": "Country code"
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code",
              "default": "en",
              "title": "Hl"
            },
            "description": "Language code"
          },
          {
            "name": "tbs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Time filter (e.g. qdr:d)",
              "title": "Tbs"
            },
            "description": "Time filter (e.g. qdr:d)"
          },
          {
            "name": "safe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Safe search",
              "default": "off",
              "title": "Safe"
            },
            "description": "Safe search"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page number",
              "default": 0,
              "title": "Page"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Videos Search V1 Google Videos Search Get"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {}
  }
}
