{
  "openapi": "3.1.0",
  "info": {
    "title": "ScrapeBadger Twitter API",
    "description": "The ScrapeBadger Twitter API provides programmatic access to Twitter/X data through a simple REST interface. Retrieve tweets, user profiles, followers, lists, communities, trends, and geographic data — all with a single API key.\n\nAll endpoints require authentication via the `x-api-key` header. Each request consumes credits from your account balance. Paginated endpoints return a `next_cursor` field that you can pass to subsequent requests to retrieve additional pages of results.\n\n**Base URL:** `https://scrapebadger.com/v1/twitter`\n\n**Rate Limits:** Requests are rate-limited per API key. If you exceed your limit, you will receive a `429` response. Implement exponential backoff and retry logic for production use.\n\n**Credits:** Each successful API call deducts credits from your balance. If your balance reaches zero, subsequent requests will return `402 Payment Required`.",
    "version": "1.0.0",
    "contact": {
      "name": "ScrapeBadger Support",
      "url": "https://scrapebadger.com",
      "email": "support@scrapebadger.com"
    }
  },
  "servers": [
    {
      "url": "https://scrapebadger.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Tweets",
      "description": "Retrieve tweets, search tweets, and access tweet metadata including replies, quotes, retweeters, favoriters, edit history, and community notes."
    },
    {
      "name": "Users",
      "description": "Retrieve user profiles, followers, following lists, mentions, subscriptions, and search for users."
    },
    {
      "name": "Lists",
      "description": "Access Twitter list details, list tweets, and search within lists."
    },
    {
      "name": "Communities",
      "description": "Retrieve community details, community tweets, and search for communities."
    },
    {
      "name": "Trends",
      "description": "Get trending topics globally or by location."
    },
    {
      "name": "Geo",
      "description": "Search for geographic places and retrieve place details."
    },
    {
      "name": "Spaces",
      "description": "Access Twitter Spaces and live broadcast details."
    },
    {
      "name": "Stream Monitors",
      "description": "Create and manage real-time stream monitors that track Twitter accounts and deliver new tweets via WebSocket or webhook."
    },
    {
      "name": "Stream Webhooks",
      "description": "Manage webhook endpoints for stream monitor delivery. Webhooks receive HMAC-SHA256 signed payloads when new tweets are detected."
    },
    {
      "name": "Stream Logs",
      "description": "Access delivery logs and billing logs for stream monitors. Track tweet detection latency, webhook delivery status, and credit consumption."
    },
    {
      "name": "Filter Rules",
      "description": "Create and manage filter rules that monitor Twitter using Advanced Search queries at configurable intervals. Delivered via WebSocket or webhook."
    }
  ],
  "paths": {
    "/v1/twitter/tweets/": {
      "get": {
        "operationId": "getTweetsByIds",
        "summary": "Get tweets by IDs",
        "description": "Retrieve multiple tweets by their IDs in a single request. Returns comprehensive tweet data for each requested ID including text, media attachments, engagement metrics, and all available metadata. Useful for bulk tweet lookups and monitoring specific tweets.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "tweets",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of tweet IDs to retrieve.",
            "schema": {
              "type": "string",
              "example": "1234567890,9876543210"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved tweets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/tweet/{tweet_id}": {
      "get": {
        "operationId": "getTweetDetail",
        "summary": "Get tweet details",
        "description": "Fetch detailed information about a single tweet. Returns comprehensive tweet data including author info, engagement stats, media attachments, polls, referenced tweets, and edit history. Use this for deep inspection of individual tweets.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the tweet.",
            "schema": {
              "type": "string",
              "example": "1234567890123456789"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response for fetching additional data.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved tweet details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/tweet/{tweet_id}/retweeters": {
      "get": {
        "operationId": "getTweetRetweeters",
        "summary": "Get tweet retweeters",
        "description": "Get the list of users who retweeted a specific tweet. Returns comprehensive user profile data for each retweeter with pagination support. Useful for analyzing tweet reach and audience engagement.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the tweet.",
            "schema": {
              "type": "string",
              "example": "1234567890123456789"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved retweeters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/tweet/{tweet_id}/replies": {
      "get": {
        "operationId": "getTweetReplies",
        "summary": "Get tweet replies",
        "description": "Get replies to a specific tweet. Returns comprehensive tweet data for each reply including text, media, engagement metrics, and author information. Supports pagination for tweets with many replies.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the tweet.",
            "schema": {
              "type": "string",
              "example": "1234567890123456789"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved replies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/tweet/{tweet_id}/favoriters": {
      "get": {
        "operationId": "getTweetFavoriters",
        "summary": "Get tweet favoriters",
        "description": "Get the list of users who favorited (liked) a specific tweet. Returns comprehensive user profile data for each user who liked the tweet. Useful for audience analysis and engagement tracking.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the tweet.",
            "schema": {
              "type": "string",
              "example": "1234567890123456789"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved favoriters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/tweet/{tweet_id}/similar": {
      "get": {
        "operationId": "getSimilarTweets",
        "summary": "Get similar tweets",
        "description": "Get tweets that are similar in content or topic to the specified tweet. Returns tweets that Twitter's algorithm considers related. Useful for content discovery and topic analysis.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the tweet.",
            "schema": {
              "type": "string",
              "example": "1234567890123456789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved similar tweets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/advanced_search": {
      "get": {
        "operationId": "advancedSearchTweets",
        "summary": "Advanced tweet search",
        "description": "Search for tweets using advanced query syntax. Supports filtering by Top, Latest, or Media results. Use Twitter's advanced search operators in the query (e.g., `from:username`, `since:2024-01-01`, `min_faves:100`). Essential for monitoring, research, and content discovery.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query string. Supports Twitter advanced search operators like `from:`, `to:`, `since:`, `until:`, `min_faves:`, `min_retweets:`, `lang:`, etc.",
            "schema": {
              "type": "string",
              "example": "from:elonmusk lang:en"
            }
          },
          {
            "name": "query_type",
            "in": "query",
            "required": false,
            "description": "Type of search results to return.",
            "schema": {
              "type": "string",
              "enum": [
                "Top",
                "Latest",
                "Media"
              ],
              "default": "Top"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of tweets to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/tweet/{tweet_id}/edit_history": {
      "get": {
        "operationId": "getTweetEditHistory",
        "summary": "Get tweet edit history",
        "description": "Get the edit history of a tweet. Returns all versions of the tweet in chronological order, from the original to the most recent edit. Useful for tracking changes to tweet content over time.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the tweet.",
            "schema": {
              "type": "string",
              "example": "1234567890123456789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved edit history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/tweet/{tweet_id}/community_notes": {
      "get": {
        "operationId": "getTweetCommunityNotes",
        "summary": "Get community notes",
        "description": "Get community notes (formerly Birdwatch) attached to a specific tweet. Community notes provide crowd-sourced context and fact-checking for tweets. Returns note text, status, and creation date.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the tweet.",
            "schema": {
              "type": "string",
              "example": "1234567890123456789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved community notes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityNotesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/tweet/{tweet_id}/quotes": {
      "get": {
        "operationId": "getTweetQuotes",
        "summary": "Get tweet quotes",
        "description": "Get tweets that quote the specified tweet. Returns comprehensive tweet data for each quote tweet including text, media, engagement metrics, and author information. Useful for tracking how a tweet is being discussed and shared.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the tweet.",
            "schema": {
              "type": "string",
              "example": "1234567890123456789"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved quote tweets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/tweets/article/{article_id}": {
      "get": {
        "operationId": "getArticleDetail",
        "summary": "Get article by ID",
        "description": "Get a Twitter Article (long-form post) by its unique ID. Returns the full article content including title, body text, cover image, and author information. Twitter Articles are long-form content published directly on the platform.",
        "tags": [
          "Tweets"
        ],
        "parameters": [
          {
            "name": "article_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the article.",
            "schema": {
              "type": "string",
              "example": "1234567890123456789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved article.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/batch_by_ids": {
      "get": {
        "operationId": "getUsersByIds",
        "summary": "Batch get users by IDs",
        "description": "Fetch multiple user profiles by their numeric IDs in a single request. Returns comprehensive user profile data for each requested ID. More efficient than making individual requests when you need data for multiple users.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of numeric user IDs.",
            "schema": {
              "type": "string",
              "example": "44196397,50393960"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved users.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/batch_by_usernames": {
      "get": {
        "operationId": "getUsersByUsernames",
        "summary": "Batch get users by usernames",
        "description": "Fetch multiple user profiles by their usernames (screen names) in a single request. Returns comprehensive user profile data for each requested username. More efficient than making individual requests when you need data for multiple users.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "usernames",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of usernames (without the @ symbol).",
            "schema": {
              "type": "string",
              "example": "elonmusk,jack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved users.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/{user_id}/by_id": {
      "get": {
        "operationId": "getUserById",
        "summary": "Get user by ID",
        "description": "Get a user profile by their numeric Twitter ID. Returns comprehensive profile data including bio, follower/following counts, verification status, and account metadata. Use this when you have the numeric ID and need full profile details.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the user.",
            "schema": {
              "type": "string",
              "example": "44196397"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/{username}/by_username": {
      "get": {
        "operationId": "getUserByUsername",
        "summary": "Get user by username",
        "description": "Get a user profile by their username (screen name). Returns comprehensive profile data including bio, follower/following counts, verification status, and account metadata. The most common way to look up a user profile.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username (screen name) of the user, without the @ symbol.",
            "schema": {
              "type": "string",
              "example": "elonmusk"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/{username}/latest_tweets": {
      "get": {
        "operationId": "getUserLatestTweets",
        "summary": "Get user tweets",
        "description": "Get the latest tweets from a specific user's timeline. Returns comprehensive tweet data including text, media, engagement metrics, and all metadata. Supports pagination to retrieve the full tweet history.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username (screen name) of the user.",
            "schema": {
              "type": "string",
              "example": "elonmusk"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user tweets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/{username}/followers": {
      "get": {
        "operationId": "getUserFollowers",
        "summary": "Get user followers",
        "description": "Get the list of followers for a specific user. Returns comprehensive user profile data for each follower with pagination support. Useful for audience analysis and social graph exploration.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username (screen name) of the user.",
            "schema": {
              "type": "string",
              "example": "elonmusk"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved followers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/{username}/followings": {
      "get": {
        "operationId": "getUserFollowings",
        "summary": "Get user following",
        "description": "Get the list of users that a specific user is following. Returns comprehensive user profile data for each followed account with pagination support. Useful for understanding a user's interests and network.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username (screen name) of the user.",
            "schema": {
              "type": "string",
              "example": "elonmusk"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved following list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/{user_id}/subscriptions": {
      "get": {
        "operationId": "getUserSubscriptions",
        "summary": "Get user subscriptions",
        "description": "Get the premium account subscriptions for a specific user. Returns the list of accounts that the user subscribes to for premium content. Requires the user's numeric ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the user.",
            "schema": {
              "type": "string",
              "example": "44196397"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/search_users": {
      "get": {
        "operationId": "searchUsers",
        "summary": "Search users",
        "description": "Search for users by username, display name, or keywords in their bio. Returns matching user profiles with comprehensive data. Useful for finding accounts related to specific topics or interests.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query to match against usernames, display names, and bios.",
            "schema": {
              "type": "string",
              "example": "machine learning"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/{username}/mentions": {
      "get": {
        "operationId": "getUserMentions",
        "summary": "Get user mentions",
        "description": "Get tweets that mention a specific user. Returns tweets containing @username from the latest search results. Useful for monitoring brand mentions, tracking conversations, and reputation management.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "The username (screen name) of the user.",
            "schema": {
              "type": "string",
              "example": "elonmusk"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of tweets to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved mentions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/users/{user_id}/articles": {
      "get": {
        "operationId": "getUserArticles",
        "summary": "Get user articles",
        "description": "Get long-form articles (Twitter Articles) written by a specific user. Returns article metadata including title, body text, cover image, and publication date. Requires the user's numeric ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the user.",
            "schema": {
              "type": "string",
              "example": "44196397"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved articles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticlesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/lists/{list_id}/detail": {
      "get": {
        "operationId": "getListDetail",
        "summary": "Get list details",
        "description": "Get detailed information about a Twitter list. Returns comprehensive list details including name, description, member count, subscriber count, visibility mode, and owner information. Useful for understanding list composition before fetching its tweets.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the list.",
            "schema": {
              "type": "string",
              "example": "1580582120482430976"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/lists/{list_id}/tweets": {
      "get": {
        "operationId": "getListTweets",
        "summary": "Get list tweets",
        "description": "Get tweets from a specific Twitter list. Returns comprehensive tweet data from the list's timeline including all metadata, media attachments, and engagement metrics. Supports pagination for lists with many tweets.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the list.",
            "schema": {
              "type": "string",
              "example": "1580582120482430976"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list tweets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/lists/{list_id}/search_tweets": {
      "get": {
        "operationId": "searchListTweets",
        "summary": "Search list tweets",
        "description": "Search for tweets within a specific Twitter list. Returns tweets from the list that match the given search query. Useful for finding specific content within curated tweet collections.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the list.",
            "schema": {
              "type": "string",
              "example": "1580582120482430976"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query to filter tweets within the list.",
            "schema": {
              "type": "string",
              "example": "artificial intelligence"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/communities/{community_id}": {
      "get": {
        "operationId": "getCommunityDetail",
        "summary": "Get community details",
        "description": "Get detailed information about a Twitter community. Returns comprehensive community data including name, description, member count, join policy, banner image, creator/admin info, and community rules. Useful for understanding a community before exploring its content.",
        "tags": [
          "Communities"
        ],
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the community.",
            "schema": {
              "type": "string",
              "example": "1234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved community details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/communities/{community_id}/tweets": {
      "get": {
        "operationId": "getCommunityTweets",
        "summary": "Get community tweets",
        "description": "Get tweets from a specific community. Returns tweets posted within the community, filterable by type (Top, Latest, or Media). Supports pagination for communities with extensive content.",
        "tags": [
          "Communities"
        ],
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "description": "The unique numeric ID of the community.",
            "schema": {
              "type": "string",
              "example": "1234567890"
            }
          },
          {
            "name": "tweet_type",
            "in": "query",
            "required": false,
            "description": "Type of tweets to return from the community.",
            "schema": {
              "type": "string",
              "enum": [
                "Top",
                "Latest",
                "Media"
              ],
              "default": "Top"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved community tweets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/communities/search": {
      "get": {
        "operationId": "searchCommunities",
        "summary": "Search communities",
        "description": "Search for Twitter communities by name, description, or keywords. Returns matching communities with comprehensive information including member count, join policy, and description. Useful for discovering communities related to specific topics.",
        "tags": [
          "Communities"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query to match against community names and descriptions.",
            "schema": {
              "type": "string",
              "example": "web development"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved communities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunitiesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/trends/": {
      "get": {
        "operationId": "getTrends",
        "summary": "Get trending topics",
        "description": "Get current trending topics on Twitter. Results can be filtered by category: trending (default), for-you, news, sports, or entertainment. Returns trend names, tweet counts, and context information.",
        "tags": [
          "Trends"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category to filter trends by.",
            "schema": {
              "type": "string",
              "enum": [
                "trending",
                "for-you",
                "news",
                "sports",
                "entertainment"
              ],
              "default": "trending"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of trends to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved trends.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/trends/place/{woeid}": {
      "get": {
        "operationId": "getTrendsByPlace",
        "summary": "Get trends by location",
        "description": "Get trending topics for a specific geographic location identified by its WOEID (Where On Earth ID). Returns location-specific trends including trend names, tweet volumes, and search URLs. Use WOEID 1 for worldwide trends, or 23424977 for United States.",
        "tags": [
          "Trends"
        ],
        "parameters": [
          {
            "name": "woeid",
            "in": "path",
            "required": true,
            "description": "Where On Earth ID of the location. Use 1 for worldwide, 23424977 for US, 23424975 for UK, etc.",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved place trends.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceTrendsData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/geo/search": {
      "get": {
        "operationId": "searchPlaces",
        "summary": "Search places",
        "description": "Search for geographic places that can be attached to tweets. At least one of `query`, `lat`/`long`, or `ip` must be provided. Results can be filtered by granularity (neighborhood, city, admin, country). Useful for geo-tagging and location-based analysis.",
        "tags": [
          "Geo"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Free-form text search for place names.",
            "schema": {
              "type": "string",
              "example": "San Francisco"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude coordinate for location-based search.",
            "schema": {
              "type": "number",
              "format": "double",
              "example": 37.7749
            }
          },
          {
            "name": "long",
            "in": "query",
            "required": false,
            "description": "Longitude coordinate for location-based search.",
            "schema": {
              "type": "number",
              "format": "double",
              "example": -122.4194
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved places.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/geo/places/{place_id}": {
      "get": {
        "operationId": "getPlaceDetail",
        "summary": "Get place details",
        "description": "Get detailed information about a specific geographic place. Returns comprehensive place data including full name, country, place type, bounding box coordinates, and additional attributes. Use place IDs obtained from the geo search endpoint.",
        "tags": [
          "Geo"
        ],
        "parameters": [
          {
            "name": "place_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the place.",
            "schema": {
              "type": "string",
              "example": "5a110d312052166f"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved place details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/spaces/broadcast/{broadcast_id}": {
      "get": {
        "operationId": "getBroadcastDetail",
        "summary": "Get broadcast details",
        "description": "Get details of a live video broadcast on Twitter. Returns broadcast metadata including title, current state, media key, dimensions, viewer counts, and timestamps. Useful for monitoring live content on the platform.",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "broadcast_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the broadcast.",
            "schema": {
              "type": "string",
              "example": "1rmGPkBbVzqKN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved broadcast details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/spaces/{space_id}": {
      "get": {
        "operationId": "getSpaceDetail",
        "summary": "Get Space details",
        "description": "Get details of a Twitter Space (audio room). Returns Space metadata including title, current state, creator information, participant counts, and scheduling details. Useful for monitoring live audio content and upcoming events.",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the Twitter Space.",
            "schema": {
              "type": "string",
              "example": "1eaJbrPZRwOKX"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Space details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/monitors": {
      "post": {
        "operationId": "createStreamMonitor",
        "summary": "Create stream monitor",
        "description": "Create a new stream monitor to track one or more Twitter accounts in real time. New tweets from monitored accounts are delivered via WebSocket and optionally via webhook. Each monitored account consumes credits per day based on volume pricing.",
        "tags": [
          "Stream Monitors"
        ],
        "requestBody": {
          "required": true,
          "description": "Stream monitor configuration.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "usernames"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Human-readable name for the stream monitor.",
                    "example": "Tech Leaders Monitor"
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 100,
                    "description": "List of Twitter usernames to monitor (without @ symbol).",
                    "example": [
                      "elonmusk",
                      "sama"
                    ]
                  },
                  "webhook_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "HTTPS URL to receive webhook deliveries. Must use HTTPS.",
                    "example": "https://example.com/webhooks/twitter"
                  },
                  "webhook_secret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Secret used to sign webhook payloads with HMAC-SHA256."
                  },
                  "filter_types": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string",
                      "enum": [
                        "original",
                        "reply",
                        "retweet",
                        "quote"
                      ]
                    },
                    "description": "Filter which tweet types to deliver. Null or omitted means all types."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stream monitor created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamMonitorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "get": {
        "operationId": "listStreamMonitors",
        "summary": "List stream monitors",
        "description": "List all stream monitors for the authenticated API key. Supports pagination and optional filtering by status.",
        "tags": [
          "Stream Monitors"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of monitors per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter monitors by status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved stream monitors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "monitors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StreamMonitorResponse"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of monitors."
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number."
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "Number of items per page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/monitors/{monitor_id}": {
      "get": {
        "operationId": "getStreamMonitor",
        "summary": "Get stream monitor",
        "description": "Retrieve details of a specific stream monitor by its ID. Returns full monitor configuration, status, and pricing information.",
        "tags": [
          "Stream Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the stream monitor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved stream monitor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamMonitorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "operationId": "updateStreamMonitor",
        "summary": "Update stream monitor",
        "description": "Update an existing stream monitor. All fields are optional; only provided fields will be updated. Use status field to pause or resume monitoring.",
        "tags": [
          "Stream Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the stream monitor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update on the stream monitor.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Updated name for the stream monitor."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 100,
                    "description": "Updated list of Twitter usernames to monitor."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused"
                    ],
                    "description": "Set monitor status. Use \"paused\" to stop monitoring and \"active\" to resume."
                  },
                  "webhook_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Updated webhook URL. Set to null to remove webhook delivery."
                  },
                  "webhook_secret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Updated webhook secret. Set to null to remove."
                  },
                  "filter_types": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string",
                      "enum": [
                        "original",
                        "reply",
                        "retweet",
                        "quote"
                      ]
                    },
                    "description": "Updated tweet type filter. Set to null to deliver all types."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stream monitor updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamMonitorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "delete": {
        "operationId": "deleteStreamMonitor",
        "summary": "Delete stream monitor",
        "description": "Permanently delete a stream monitor and stop all associated monitoring. This action cannot be undone.",
        "tags": [
          "Stream Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the stream monitor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Stream monitor deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/webhooks": {
      "post": {
        "operationId": "createStreamWebhook",
        "summary": "Create webhook",
        "description": "Create a new webhook endpoint for a stream monitor. Webhooks receive HMAC-SHA256 signed POST requests when new tweets are detected.",
        "tags": [
          "Stream Webhooks"
        ],
        "requestBody": {
          "required": true,
          "description": "Webhook configuration.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "monitor_id",
                  "url"
                ],
                "properties": {
                  "monitor_id": {
                    "type": "string",
                    "description": "The ID of the stream monitor to attach this webhook to."
                  },
                  "url": {
                    "type": "string",
                    "description": "HTTPS URL to receive webhook deliveries. Must use HTTPS.",
                    "example": "https://example.com/webhooks/twitter"
                  },
                  "secret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Secret used to sign webhook payloads with HMAC-SHA256."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "get": {
        "operationId": "listStreamWebhooks",
        "summary": "List webhooks",
        "description": "List all webhooks for the authenticated API key. Optionally filter by monitor ID.",
        "tags": [
          "Stream Webhooks"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "query",
            "required": false,
            "description": "Filter webhooks by stream monitor ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookListItem"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of webhooks."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/webhooks/{webhook_id}": {
      "delete": {
        "operationId": "deleteStreamWebhook",
        "summary": "Delete webhook",
        "description": "Permanently delete a webhook endpoint. The stream monitor will continue operating but will no longer deliver to this webhook URL.",
        "tags": [
          "Stream Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the webhook.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/webhooks/test": {
      "post": {
        "operationId": "testStreamWebhook",
        "summary": "Test webhook",
        "description": "Send a test payload to the webhook configured for a stream monitor. Returns the HTTP status code and response time from the webhook endpoint. Useful for verifying webhook connectivity before going live.",
        "tags": [
          "Stream Webhooks"
        ],
        "requestBody": {
          "required": true,
          "description": "Test webhook request.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "monitor_id"
                ],
                "properties": {
                  "monitor_id": {
                    "type": "string",
                    "description": "The ID of the stream monitor whose webhook to test."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook test result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the webhook responded with a 2xx status code."
                    },
                    "status_code": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "HTTP status code returned by the webhook endpoint."
                    },
                    "response_time_ms": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "Response time in milliseconds."
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Error message if the webhook test failed."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/logs": {
      "get": {
        "operationId": "listStreamDeliveryLogs",
        "summary": "List delivery logs",
        "description": "List tweet delivery logs for stream monitors. Shows each detected tweet with detection latency, delivery status, and webhook response details. Useful for monitoring stream health and debugging delivery issues.",
        "tags": [
          "Stream Logs"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "query",
            "required": false,
            "description": "Filter logs by stream monitor ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of logs per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved delivery logs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TweetDeliveryLogResponse"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of delivery logs."
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number."
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "Number of items per page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/billing-logs": {
      "get": {
        "operationId": "listStreamBillingLogs",
        "summary": "List billing logs",
        "description": "List billing logs for stream monitors. Shows credit deductions with billing cadence details, tier rates, and account counts. Useful for tracking streaming costs and verifying billing accuracy.",
        "tags": [
          "Stream Logs"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "query",
            "required": false,
            "description": "Filter logs by stream monitor ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of logs per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved billing logs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillingLogResponse"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of billing logs."
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number."
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "Number of items per page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/filter-rules": {
      "post": {
        "operationId": "createFilterRule",
        "summary": "Create filter rule",
        "description": "Create a new filter rule that monitors Twitter using an Advanced Search query at a configurable polling interval. Matching tweets are delivered via WebSocket and optionally via webhook. Pricing is based on the polling interval tier.",
        "tags": [
          "Filter Rules"
        ],
        "requestBody": {
          "required": true,
          "description": "Filter rule configuration.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tag",
                  "query",
                  "interval_seconds"
                ],
                "properties": {
                  "tag": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Human-readable label for the filter rule.",
                    "example": "AI news tracker"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024,
                    "description": "Twitter Advanced Search query. Supports operators like from:, to:, min_faves:, lang:, etc.",
                    "example": "(\"artificial intelligence\" OR \"machine learning\") min_faves:100 lang:en"
                  },
                  "interval_seconds": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 86400,
                    "description": "Polling interval in seconds. Lower intervals detect tweets faster but cost more credits per day.",
                    "example": 60
                  },
                  "max_results_per_poll": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 20,
                    "description": "Maximum number of tweets to return per poll cycle."
                  },
                  "webhook_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "HTTPS URL to receive webhook deliveries. Must use HTTPS.",
                    "example": "https://example.com/webhooks/filter-rules"
                  },
                  "webhook_secret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Secret used to sign webhook payloads with HMAC-SHA256."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Filter rule created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterRuleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "get": {
        "operationId": "listFilterRules",
        "summary": "List filter rules",
        "description": "List all filter rules for the authenticated API key. Supports pagination and optional filtering by status.",
        "tags": [
          "Filter Rules"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of rules per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter rules by status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved filter rules.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rules": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FilterRuleResponse"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of filter rules."
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number."
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "Number of items per page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/filter-rules/{rule_id}": {
      "get": {
        "operationId": "getFilterRule",
        "summary": "Get filter rule",
        "description": "Retrieve details of a specific filter rule by its ID. Returns full rule configuration, status, and pricing information.",
        "tags": [
          "Filter Rules"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the filter rule.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved filter rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterRuleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "operationId": "updateFilterRule",
        "summary": "Update filter rule",
        "description": "Update an existing filter rule. All fields are optional; only provided fields will be updated. Changing the interval may affect the pricing tier.",
        "tags": [
          "Filter Rules"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the filter rule.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update on the filter rule.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Updated label for the filter rule."
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024,
                    "description": "Updated Twitter Advanced Search query."
                  },
                  "interval_seconds": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 86400,
                    "description": "Updated polling interval in seconds."
                  },
                  "max_results_per_poll": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Updated maximum results per poll cycle."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused"
                    ],
                    "description": "Set rule status. Use \"paused\" to stop polling and \"active\" to resume."
                  },
                  "webhook_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Updated webhook URL. Set to null to remove webhook delivery."
                  },
                  "webhook_secret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Updated webhook secret. Set to null to remove."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Filter rule updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterRuleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "delete": {
        "operationId": "deleteFilterRule",
        "summary": "Delete filter rule",
        "description": "Permanently delete a filter rule and stop all associated polling. This action cannot be undone.",
        "tags": [
          "Filter Rules"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the filter rule.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Filter rule deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/filter-rules/validate": {
      "post": {
        "operationId": "validateFilterRuleQuery",
        "summary": "Validate filter rule query",
        "description": "Validate a Twitter Advanced Search query without creating a filter rule. Returns whether the query syntax is valid and any errors found. Use this to test queries before creating filter rules.",
        "tags": [
          "Filter Rules"
        ],
        "requestBody": {
          "required": true,
          "description": "Query to validate.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Twitter Advanced Search query to validate.",
                    "example": "from:elonmusk min_faves:100"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "description": "Whether the query syntax is valid."
                    },
                    "query": {
                      "type": "string",
                      "description": "The query that was validated."
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Error message if the query is invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/filter-rules/{rule_id}/logs": {
      "get": {
        "operationId": "getFilterRuleDeliveryLogs",
        "summary": "Get filter rule delivery logs",
        "description": "List tweet delivery logs for a specific filter rule. Shows each detected tweet with detection latency, delivery status, and webhook response details.",
        "tags": [
          "Filter Rules"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the filter rule.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of logs per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved filter rule delivery logs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FilterRuleDeliveryLogResponse"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of delivery logs."
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number."
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "Number of items per page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/twitter/stream/filter-rules-pricing": {
      "get": {
        "operationId": "getFilterRulePricingTiers",
        "summary": "Get filter rule pricing tiers",
        "description": "Retrieve the pricing tiers for filter rules. Each tier defines a maximum polling interval and the corresponding credit cost per rule per day. Use this to estimate costs before creating filter rules.",
        "tags": [
          "Filter Rules"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved pricing tiers.",
            "content": {
              "application/json": {
                "schema": {
[...]
